<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BallUp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F220CBD1EC8C8C90042E9F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F220CD41EC8C8CA0042E9F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F220CDF1EC8C8CA0042E9F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
